[Unit]
Description=Cacophony Project salt updater
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/salt-updater --run-dbus
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
